streamlit==1.41.1
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama
faiss-cpu
pypdf  
sentence-transformers
langchain_huggingface
huggingface-hub
torch
numpy==1.24.3
pytest
# Formatting tools
black==24.3.0
isort==5.13.2
flake8==7.0.0
mypy==1.8.0